<h1>My Thanksgiving Menu</h1>

<% @recipes.each do |recipe| %>
  <h1>
      <%= link_to recipe.name, recipe %>
  </h1>
  <p>
    <%= image_tag(recipe.image) if recipe.image.attached? %>
  </p>
<% end %>

  <h1>
      <button><%= link_to "Add new recipe", new_recipe_path %></button>
  </h1>
  <div>
    <h1>
      <button><%= link_to "See shopping list", ingredients_path %></button>
    </h1>
  </div>


