<h1>
  <%= @recipe.name %>   
  <button> <%= link_to "Edit recipe", edit_recipe_path(@recipe) %></button>
</h1>

  <h2><%= @recipe.instructions %></h2>

    <ul>
      <% @recipe.ingredients.uniq.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>

<%# add img? , delete, and instructions%>
