<h1>Ingredients Shopping List: </h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= recipe.name %> ingredients:
        <% recipe.ingredients.each do |ingredient| %>
          <h2><li><%= ingredient.name %></li></h2>
        <% end %>
      <% end %>
    </li>
</ul>