/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  text-align: center;
}

a {
  color:rgba(82, 24, 9, 0.644)
}


body {
  background-color:  rgba(228, 227, 207, 0.986);
}

div.card.col {
  background-color: rgba(197, 197, 36, 0.336);
}

img.img-thumbnail.card-img-top {
  background-color: rgba(230, 230, 187, 0.932);
}